<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Exemplo Beacon Eddystone
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="beacon">
    <ion-card-header>
      Beacon encontrado!
    </ion-card-header>
    <ion-card-content>
      <p>Endereço: {{ beacon.address }}</p>
      <a *ngIf="beacon.url" [href]="beacon.url">URL: {{ beacon.url }}</a>
    </ion-card-content>
  </ion-card>

  <button ion-button full (click)="escanearBeacons()">Escanear Beacons</button>
</ion-content>
